<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="BI, PLATFORM, DATA, ELT, DATA-MODEL, DATA-CATALOG, DATA-QUALITY">
    <meta name="description" content="Are you ready to revolutionize the way you handle Business Analysis and Data Modeling? Look no further. Fast BI Platform is your ultimate solution for DataOps...">
    <title>Fast.BI - Data Quality</title>
    <link rel="canonical" href="Business Analysis. FAST.">
    <link rel="icon" href="/images/73854433.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/73854433.png" type="image/x-icon">
    <script class="u-script" type="text/javascript" src="/templates/js/home.js" defer=""></script>
    <link rel="stylesheet" href="/templates/css/home.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">       
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.0/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.0/jquery.nicescroll.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.18.0/js/md5.min.js"></script>
</head>
<body>
    <div class="rj-layout">
        <div class="rj-container-sections">
            <div id="ContentLeft" class="rj-section rj-left">
                <div class="rj-panel-vertical">
                    <div class="rj-panel-content">
                        <header id="MenuVertical" class="rj-header rj-full-section-movil">
                            <nav class="rj-navbar">
                                <ul class="rj-list">
                                  <style>
                                    .rj-navbar {
                                        overflow-x: auto; /* Enable horizontal scrolling if needed */
                                        white-space: nowrap; /* Prevent wrapping of menu items */
                                    }
                                
                                    .scroll-down-btn {
                                        display: none; /* Initially hide scroll-down button */
                                        position: fixed;
                                        bottom: 20px;
                                        right: 20px;
                                        z-index: 1000;
                                    }
                                    </style>
                                    <li class="rj-item rj-img-logo">
                                        <a href="/homepage"><img src="/images/logo_transparent.png" alt="Fast.BI" title="Fast.BI"></a>
                                    </li>
                                    
                                    <li id="home" class="rj-item">
                                        <a class="rj-link" href="/homepage"><i class="fa-solid fa-house"></i> <b class="rj-title-link"> Home</b></a>
                                    </li>
                                    
                                    <li class="line"></li>
                                    <li id="init" class="rj-item"><a class="rj-link"href="/dbt-init"><i class="fa-regular fa-circle-play"></i> <b class="rj-title-link"> Data Project Initialization</b></a></li>
                                    <li id="mnmgt" class="rj-item"><a class="rj-link"href="/dbt-management"><i class="fa-solid fa-screwdriver-wrench"></i> <b class="rj-title-link"> Data Project Management</b></a></li>
                                    <li id="stats" class="rj-item"><a class="rj-link"href="/stats"><i class="fa-solid fa-chart-bar"></i> <b class="rj-title-link"> Data Plaform Stats</b></a></li>
                                    <li class="line"></li>
                                    
                                    {% if airbyte_link %}
                                    <li id="airbyte" class="rj-item">
                                        <a class="rj-link" href="#" data-default-href="{{ airbyte_link }}" data-iframe-href="/data-replication"><i class="fa-regular fa-object-ungroup"></i> <b class="rj-title-link"> Data Replication</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    {% if ide_link %}
                                    <li id="ide" class="rj-item">
                                        <a class="rj-link" href="#" data-default-href="{{ ide_link }}" data-iframe-href="/data-manipulation"><i class="fa-solid fa-terminal"></i> <b class="rj-title-link"> Data Modeling</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    {% if airflow_link %}
                                    <li id="airflow" class="rj-item">
                                        <a class="rj-link" href="#" data-default-href="{{ airflow_link }}" data-iframe-href="/data-orchestration"><i class="fa-solid fa-timeline"></i> <b class="rj-title-link"> Data Orchestration</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    {% if data_quality_link %}
                                    <li id="redata" class="rj-item">
                                        <a class="rj-link" href="#" data-default-href="{{ data_quality_link }}" data-iframe-href="/data-quality"><i class="fa-solid fa-stethoscope"></i> <b class="rj-title-link"> Data Quality</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    {% if data_catalog_link %}
                                    <li id="dbtdocs" class="rj-item">
                                        <a class="rj-link" href="#" data-default-href="{{ data_catalog_link }}" data-iframe-href="/data-catalog"><i class="fa-solid fa-rectangle-list"></i> <b class="rj-title-link"> Data Catalog</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    {% if datahub_link %}
                                    <li id="datahub" class="rj-item">
                                        <a class="rj-link" href="#" data-default-href="{{ datahub_link }}" data-iframe-href="/data-governance"><i class="fa-solid fa-circle-info"></i> <b class="rj-title-link"> Data Governance</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    <li class="line"></li>
                                    
                                    {% if lightdash_link %}
                                    <li id="bi" class="rj-item">
                                        <a class="rj-link" href="{{ lightdash_link }}"><i class="fa-solid fa-chart-pie"></i> <b class="rj-title-link"> Data Analysis</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    <li class="line"></li>
                                    
                                    {% if monitoring_link %}
                                    <li id="grafana" class="rj-item">
                                        <a class="rj-link" href="{{ monitoring_link }}"><i class="fa-solid fa-circle-exclamation"></i> <b class="rj-title-link"> Data Platform Monitoring</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    {% if s3_link %}
                                    <li id="objstr" class="rj-item">
                                        <a class="rj-link" href="{{ s3_link }}"><i class="fa-regular fa-hard-drive"></i> <b class="rj-title-link"> Data Platform Storage</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    {% if cicd_workflow_link %}
                                    <li id="cicdworkflows" class="rj-item">
                                        <a class="rj-link" href="#" data-default-href="{{ cicd_workflow_link }}" data-iframe-href="/data-platform-workflows"><i class="fa-solid fa-list-check"></i> <b class="rj-title-link"> Data Platform Workflows</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    <li class="line"></li>
                                    
                                    {% if gitlab_link %}
                                    <li id="git" class="rj-item">
                                        <a class="rj-link" href="{{ gitlab_link }}"><i class="fa-brands fa-git-alt"></i> <b class="rj-title-link" target="_blank"> Data Repository</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    {% if bi_platform_bq_id %}
                                    <li id="gbq" class="rj-item">
                                        <a class="rj-link" href="https://console.cloud.google.com/bigquery?project={{ bi_platform_bq_id }}"><i class="fa-solid fa-database"></i> <b class="rj-title-link" target="_blank"> BigQuery</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    {% if bi_platform_gcp_id %}
                                    <li id="gcp" class="rj-item">
                                        <a class="rj-link" href="https://console.cloud.google.com/welcome?project={{ bi_platform_gcp_id }}"><i class="fa-brands fa-google"></i> <b class="rj-title-link" target="_blank"> Google Cloud Platform</b></a>
                                    </li>
                                    {% endif %}
                                    
                                    <li class="line"></li>
                                    
                                    {% if wiki_link %}
                                    <li id="wiki" class="rj-item">
                                        <a class="rj-link" href="{{ wiki_link }}"><i class="fa-brands fa-wikipedia-w"></i> <b class="rj-title-link" target="_blank"> Platform Wiki</b></a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </header>                        
                    </div>
                </div>
            </div>
            <div id="ContentRight" class="rj-section rj-right">
                <div class="rj-panel-horizontal">
                    <div class="rj-panel-content">
                        <header id="MenuHorizontal" class="rj-header">
                            <nav class="rj-navbar">
                                <ul class="rj-list">
                                    <li class="rj-item rj-btn-toggle-menu rj-item-active">
                                        <button type="button" id="BtnCollapseMenuPrincipal" class="rj-btn-toggle" dom-event="CollapseMenuPrincipal" dom-target-collapsed="#ContentLeft" dom-target-expanded="#ContentRight" dom-status="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </li>
                                    <li class="rj-item">
                                        <div class="rj-cnt-form-search">
                                            <input type="text" class="rj-form-control" placeholder="Search...">
                                            <button type="button"><i class="fa fa-search"></i></button>
                                        </div>
                                    </li>
                                    <li class="rj-item">
                                        <button type="button" id="BtnPanelNotifications" class="rj-link">
                                            <span {% if welcome_message %} style="background-color: #c75252;" {% endif %}></span>
                                            <i class="fa-solid {% if welcome_message %}fa-bell{% else %}fa-bell-slash{% endif %}" {% if welcome_message %} style="color: #c75252;" {% else %} style="color: #6788ff;" {% endif %}></i>
                                        </button>
                                    </li>
                                    <div class="notification-popup" id="notificationPopup">
                                        <div class="card">
                                            <div class="card-details">
                                                <p class="text-title"><b>Nofitications</b></p>
                                                <p class="text-body" id="notificationMessage">{{ welcome_message }}</p>
                                            </div>
                                            <button class="card-button" id="closeNotification">Close</button>
                                        </div>
                                    </div>
                                    <script>
                                    var message = '{{ welcome_message }}';
                                    </script>
                                    <li class="rj-item rj-img-avatar">
                                        <button type="button" id="BtnPanelProfile" class="rj-btn-img" dom-event="rj-togglefade-panel" dom-target="#PanelProfile" dom-status="false">
                                            <img id="userAvatar" src="" alt="User Avatar" title="User Avatar">
                                        </button>
                                        <script>
                                          // Function to generate a random avatar based on the user's username
                                          function generateAvatar(username) {
                                              // Generate MD5 hash of the username
                                              var hash = md5(username.toLowerCase());
                                          
                                              // Construct the URL for the avatar image
                                              var avatarUrl = 'https://www.gravatar.com/avatar/' + hash + '?d=identicon';
                                          
                                              // Set the src attribute of the userAvatar element to the generated avatar URL
                                              document.getElementById('userAvatar').src = avatarUrl;
                                          }
                                          
                                          // Example usage: Replace 'current_user.username' with the actual username
                                          </script>
                                          <script>
                                          var currentUsername = "{{ user_email }}";
                                          generateAvatar(currentUsername);
                                          </script>
                                    </li>
                                </ul>                                                                
                            </nav>
                        </header>                                                                      
                    </div>
                </div> 
                <div class="rj-panel-profile">
                    <div class="rj-panel-content">
                        <header id="PanelProfile" class="rj-header rj-full-section-movil">
                           <div class="rj-panel-caret"></div>
                            <nav class="rj-navbar">
                                <h2 class="rj-title-panel">Welcome, <b>{{ user_name }} !</b></h2>
                                <div class="rj-profile-info">
                                    <div class="rj-cnt-row">
                                        <div class="rj-cnt-cols">
                                            <div class="rj-col-4">           
                                                <div class="rj-img-profile"><span><img id="userAvatar2" src="" alt=""></span></div>
                                                <script>
                                                  // Function to generate a random avatar based on the user's username
                                                  function generateAvatar(username, id) {
                                                      // Generate MD5 hash of the username
                                                      var hash = md5(username.toLowerCase());
                                                    
                                                      // Construct the URL for the avatar image
                                                      var avatarUrl = 'https://www.gravatar.com/avatar/' + hash + '?d=identicon';
                                                    
                                                      // Set the src attribute of the userAvatar element to the generated avatar URL
                                                      document.getElementById(id).src = avatarUrl;
                                                  }
                                                  
                                                  // Example usage: Replace 'current_user.username' with the actual username
                                                  var currentUsername = "{{ user_email }}";
                                                  generateAvatar(currentUsername, 'userAvatar2');
                                              </script>
                                            </div>    
                                            <div class="rj-col-8">                                                       
                                                <div class="rj-list-info-text">
                                                    <p class="rj-info-text rj-black-thin"> Logged in with: <br> {{ user_email }}</p>
                                                </div> 
                                            </div>
                                        </div>    
                                    </div>                                               
                                </div>
                                <div class="rj-list-page-urls">
                                    <div class="rj-cnt-row">
                                        <div class="rj-cnt-cols">
                                            <div class="rj-col-12">
                                                <a href="/profile" class="rj-link-control"><i class="fa fa-user"></i> My Profile</a>                                    
                                                <a href="/configuration" class="rj-link-control"><i class="fa fa-cog"></i> Site Configuration</a>
                                                <a href="{{ url_for('logout') }}" class="rj-link-control"><i class="fa fa-sign-out-alt"></i> LogOut</a>        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Platform Settings -->
                                <div class="rj-list-page-urls" id="platform-settings-section">
                                    <div class="rj-cnt-row">
                                        <div class="rj-cnt-cols">
                                            <div class="rj-col-12">
                                                <h3 class="rj-title-panel" id="platform-settings-title">Platform Settings</h3>
                                                <a class="rj-link-control" dom-event="ChangeScreenColor" dom-mode="light">
                                                    <i class="fa-solid fa-moon"></i> 
                                                    <span id="theme-text">Dark Theme</span>
                                                    <i class="fa-solid fa-circle-info setting-info-icon" title="Change theme from light to dark and vice versa."></i>
                                                </a>
                                                <a class="rj-link-control" dom-event="Follow" dom-mode="off">
                                                    <i class="fa-solid fa-lock"></i> 
                                                    <span>Follow Mode</span>
                                                    <i class="fa-solid fa-circle-info setting-info-icon" title="Controls whether links open in a new tab. Locked = same tab, Unlocked = new tab."></i>
                                                </a>
                                                <a class="rj-link-control" dom-event="Iframe_enabled" dom-mode="disabled">
                                                    <i class="fa-solid fa-expand"></i> 
                                                    <span id="iframe-mode-text">Embed Services</span>
                                                    <i class="fa-solid fa-circle-info setting-info-icon" title="Controls whether links are from services or from the platform."></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                  var followMode = "{{ follow_mode }}"; // Load follow mode state from Flask
                                  var iframeMode = "{{ iframe_mode }}"; // Load iframe mode state from Flask
                                  var lightDarkMode = "{{ light_dark_mode }}"; // Load light/dark mode state from Flask
                                  var user_id = "{{ user_id }}" || "";  // Load User ID from Flask
                                </script>
                            </nav>
                        </header>                        
                    </div>
                </div>                
            <iframe src="{{ data_quality_endpoint }}"></iframe>
            <style>
                iframe {
                    width: 100% !important;
                    border: none !important;
                    overflow: auto !important;
                    height: 100% !important;
                }
                
                /* Add wrapper for iframe to control its positioning */
                .iframe-container {
                    position: relative;
                    height: calc(100vh - var(--header-height));
                    overflow: hidden;
                }

                /* Ensure the right content section takes full height */
                .rj-section.rj-right {
                    display: flex;
                    flex-direction: column;
                    height: 100vh;
                }

                /* Header wrapper to measure its height */
                .rj-panel-horizontal {
                    flex-shrink: 0;
                }
            </style>
            <script>
                function adjustIframeHeight() {
                    const header = document.querySelector('.rj-panel-horizontal');
                    const headerHeight = header ? header.offsetHeight : 0;
                    
                    // Set the header height as a CSS variable
                    document.documentElement.style.setProperty('--header-height', `${headerHeight}px`);
                    
                    // Wrap iframe if not already wrapped
                    const iframe = document.querySelector('iframe');
                    if (iframe && !iframe.parentElement.classList.contains('iframe-container')) {
                        const wrapper = document.createElement('div');
                        wrapper.className = 'iframe-container';
                        iframe.parentNode.insertBefore(wrapper, iframe);
                        wrapper.appendChild(iframe);
                    }
                }

                // Initial adjustment
                document.addEventListener('DOMContentLoaded', adjustIframeHeight);
                
                // Adjust on window resize
                let resizeTimeout;
                window.addEventListener('resize', () => {
                    // Debounce the resize event
                    clearTimeout(resizeTimeout);
                    resizeTimeout = setTimeout(adjustIframeHeight, 100);
                });

                // Adjust when content loads
                window.addEventListener('load', adjustIframeHeight);

                jQuery(document).ready(function($) {
                    $('.float-nav').click(function() {
                        $('.main-nav, .menu-btn').toggleClass('active');
                        $('.menu-btn').focus();
                    });
                });
                
                document.cookie = "LSOLH=value; SameSite=None; Secure";
                document.cookie = "__Secure-3PSID=value; SameSite=None; Secure";
            </script>
</body>
</html>
