<!DOCTYPE html>
<html style="font-size: 16px;" lang="en-LT"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="BI, PLATFORM, DATA, ELT, DATA-MODEL, DATA-CATALOG, DATA-QUALITY">
    <meta name="description" content="Are you ready to revolutionize the way you handle Business Analysis and Data Modeling? Look no further. Fast BI Platform is your ultimate solution for DataOps...">
    <title>Welcome - Fast.BI</title>
    <!-- <link rel="stylesheet" href="/templates/css/nicepage.css" media="screen"> -->
    <link rel="stylesheet" href="/templates/css/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/templates/js/jquery.js" defer=""></script>
    <!-- <script class="u-script" type="text/javascript" src="/templates/js/nicepage.js" defer=""></script> -->
    <link rel="canonical" href="Business Analysis. FAST.">
    <link rel="icon" href="/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="/templates/css/fonts.css">
    {%- if statistics_id %}
    <script defer src="https://statistics.fast.bi/umami" data-website-id="{{ statistics_id }}"></script>
    {%- endif %}
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Bi-Platform",
		"url": "Business Analysis. FAST."
}</script>
    <meta name="theme-color" content="#232b79">
    <meta property="og:title" content="Fast.BI">
    <meta property="og:description" content="Are you ready to revolutionize the way you handle Business Analysis and Data Modeling? Look no further. Fast BI Platform is your ultimate solution for DataOps...">
    <meta property="og:url" content="Business Analysis. FAST.">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head> 
  <body data-home-page="fast-bi-login.html" data-home-page-title="fast-bi-login" data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="en"> 
    <div class="users-container users-login">
          <div class="container-left">
            <div class="site-logo">
              <img src="{{ logo_path }}" alt="FastBI Logo">
              <a href="">
                <h1>Data</h1>
                <h1>Development</h1>
                <h1>Platform</h1>
                <div class="tagline">Empowering Your Data Journey</div>
              </a>
            </div>
          </div>
      <div class="container-right">
        <div class="container-small">
          <h3 class="container-small-title">Welcome</h3>
          <form class="login-form">
            <a href="/login" id="login-google-button" class="button-link">
              <img class="active" src="/images/favicon.png" alt="Fast.BI" width="18px" height="18px">
              <span class="icon-loading"></span> <span>Sign in with Fast.BI SSO</span>
            </a>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <p class="form-error"></p>
            <div class="open-source-info">
              <p>🚀 Self-hosted data development platform</p>
              <p>Built for data developers, by developers</p>
            </div>
          </form>
        </div>
      </div>
</body></html>