@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html, body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.error {
  background-color: #EB5155;
  width: 100%;
  height: 100%;
  position: relative;
}
.error i {
  color: #2C3E50;
  font-size: 183px;
}
@media (max-width: 767px) {
  .error i {
    font-size: 60px;
  }
}
.error h1 {
  font-size: 144px;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 767px) {
  .error h1 {
    font-size: 44px;
  }
}
.error .error-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error p {
  font-size: 76px;
  color: #fff;
}
@media (max-width: 767px) {
  .error p {
    font-size: 26px;
  }
}
.error span {
  font-size: 20px;
  color: #fff;
}
@media (max-width: 767px) {
  .error span {
    font-size: 14px;
  }
}
.error a {
  color: #2C3E50;
}

.responsive i {
  font-size: 60px;
}
.responsive h1 {
  font-size: 44px;
}
.responsive p {
  font-size: 26px;
}
.responsive span {
  font-size: 14px;
}