.u-block-0515-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-0515-3 {
  position: absolute;
  left: 0;
}

.u-block-0515-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/case.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  margin: 224px 104px 0;
}

.u-section-1-1 .u-text-2 {
  width: 837px;
  margin: 236px auto 26px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-2 .u-text-1 {
  margin: 58px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  padding: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 738px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-4 .u-sheet-1 {
  min-height: 602px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  margin: 30px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 404px;
}

.u-section-5 .u-text-1 {
  margin: 60px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-16 {
  background-image: none;
  padding: 0;
}.u-section-6 .u-sheet-1 {
  min-height: 404px;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  margin: 60px 0;
}.u-section-7 .u-sheet-1 {
  min-height: 404px;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 60px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  padding: 0;
}.u-section-8 .u-sheet-1 {
  min-height: 404px;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  margin: 60px 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-9 .u-sheet-1 {
  min-height: 404px;
  margin-bottom: 0;
}

.u-section-9 .u-text-1 {
  margin: 60px 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-10 .u-sheet-1 {
  min-height: 1030px;
  margin-bottom: 0;
}

.u-section-10 .u-text-1 {
  margin: 78px 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  padding: 0;
}.u-section-11 .u-sheet-1 {
  min-height: 3573px;
  margin-bottom: 0;
}

.u-section-11 .u-text-1 {
  margin: 0 0 132px;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  padding: 0;
}