 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/SL-011719-17920-65.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1247px;
}

.u-section-1 .u-icon-1 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -1288px auto 0 290px;
  padding: 3px;
}

.u-section-1 .u-image-1 {
  width: 36px;
  height: 36px;
  margin: -32px auto 0 52px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  align-self: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: -42px auto 0 41px;
  padding: 10px 110px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-weight: 700;
  font-style: italic;
  margin: 1263px 81px 0 auto;
}

.u-section-1 .u-shortcode-1 {
  min-height: 28px;
  height: auto;
  margin: -28px 19px 0 1078px;
}

.u-section-1 .u-image-2 {
  width: 193px;
  height: 150px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 15px auto 0 65px;
}

.u-section-1 .u-text-2 {
  text-shadow: 0 0 8px rgba(128,128,128,1);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -141px 164px 0 431px;
}

.u-section-1 .u-group-elements-1 {
  width: 1121px;
  min-height: 840px;
  margin: 74px auto 60px 0;
}

.u-section-1 .u-group-elements-2 {
  width: 290px;
  min-height: 49px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 35px;
  height: 35px;
  margin: 6px auto 0 14px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -41px 0 0;
  padding: 10px 110px;
}

.u-section-1 .u-icon-2 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -38px 15px 0 auto;
  padding: 3px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  line-height: 1;
  margin: -42px 0 0 332px;
}

.u-section-1 .u-group-elements-3 {
  width: 290px;
  min-height: 49px;
  height: auto;
  margin: 37px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 35px;
  height: 35px;
  margin: 6px auto 0 14px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -41px 0 0;
  padding: 10px 107px 10px 106px;
}

.u-section-1 .u-icon-3 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -39px 15px 0 auto;
  padding: 3px;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  line-height: 1;
  margin: -42px 0 0 332px;
}

.u-section-1 .u-group-elements-4 {
  width: 290px;
  min-height: 49px;
  height: auto;
  margin: 36px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 34px;
  height: 29px;
  margin: 9px auto 0 14px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -38px 0 0;
  padding: 10px 101px;
}

.u-section-1 .u-icon-4 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -39px 15px 0 auto;
  padding: 3px;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -44px 112px 0 332px;
}

.u-section-1 .u-group-elements-5 {
  width: 290px;
  min-height: 49px;
  height: auto;
  margin: 34px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 46px;
  height: 46px;
  margin: 1px auto 0 5px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -47px 0 0;
  padding: 10px 115px 10px 114px;
}

.u-section-1 .u-icon-5 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -39px 15px 0 auto;
  padding: 3px;
}

.u-section-1 .u-group-elements-6 {
  height: auto;
  min-height: 0;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -44px 95px 0 332px;
}

.u-section-1 .u-group-elements-7 {
  width: 290px;
  min-height: 51px;
  height: auto;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-7 {
  width: 33px;
  height: 33px;
  margin: 8px auto 0 14px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -41px 0 0;
  padding: 10px 97px;
}

.u-section-1 .u-icon-6 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -37px 15px 0 auto;
  padding: 3px;
}

.u-section-1 .u-group-elements-8 {
  height: auto;
  min-height: 0;
  margin-top: -24px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-9 {
  height: auto;
  min-height: 0;
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -45px 19px 0 332px;
}

.u-section-1 .u-group-elements-10 {
  width: 290px;
  min-height: 49px;
  height: auto;
  margin: 35px auto 0 0;
}

.u-section-1 .u-image-8 {
  width: 30px;
  height: 30px;
  margin: 9px auto 0 16px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -39px 0 0;
  padding: 10px 84px;
}

.u-section-1 .u-icon-7 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -40px 15px 0 auto;
  padding: 3px;
}

.u-section-1 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -44px 136px 0 332px;
}

.u-section-1 .u-group-elements-11 {
  width: 290px;
  min-height: 49px;
  height: auto;
  margin: 35px auto 0 0;
}

.u-section-1 .u-image-9 {
  width: 28px;
  height: 28px;
  margin: 10px auto 0 17px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -38px 0 0;
  padding: 10px 81px;
}

.u-section-1 .u-icon-8 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -39px 15px 0 auto;
  padding: 3px;
}

.u-section-1 .u-group-elements-12 {
  height: auto;
  min-height: 0;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-13 {
  height: auto;
  min-height: 0;
  margin-top: -29px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -46px 116px 0 331px;
}

.u-section-1 .u-group-elements-14 {
  width: 291px;
  height: auto;
  min-height: 0;
  margin: 36px auto 0 0;
}

.u-section-1 .u-group-elements-15 {
  width: 291px;
  min-height: 49px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-10 {
  width: 28px;
  height: 31px;
  margin: 10px auto 0 15px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -41px 0 0;
  padding: 10px 89px;
}

.u-section-1 .u-icon-9 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -39px 13px 0 auto;
  padding: 3px;
}

.u-section-1 .u-group-elements-16 {
  height: auto;
  min-height: 0;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -44px 95px 0 331px;
}

.u-section-1 .u-group-elements-17 {
  width: 290px;
  min-height: 50px;
  height: auto;
  margin: 34px auto 0 0;
}

.u-section-1 .u-image-11 {
  width: 35px;
  height: 37px;
  margin: 6px auto 0 12px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -43px 0 0;
  padding: 10px 100px;
}

.u-section-1 .u-icon-10 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -39px 12px 0 auto;
  padding: 3px;
}

.u-section-1 .u-group-elements-18 {
  height: auto;
  min-height: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -45px 11px 0 330px;
}

.u-section-1 .u-group-elements-19 {
  width: 288px;
  min-height: 49px;
  height: auto;
  margin: 35px auto 0 0;
}

.u-section-1 .u-image-12 {
  width: 35px;
  height: 35px;
  margin: 7px auto 0 13px;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -42px 0 0;
  padding: 9px 102px 11px 101px;
}

.u-section-1 .u-icon-11 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -39px 10px 0 auto;
  padding: 3px;
}

.u-section-1 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -45px 160px 0 330px;
}

.u-section-1 .u-group-elements-20 {
  width: 289px;
  min-height: 49px;
  height: auto;
  margin: 35px auto 0 0;
}

.u-section-1 .u-image-13 {
  width: 33px;
  height: 33px;
  margin: 7px auto 0 12px;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -40px 0 0;
  padding: 10px 115px;
}

.u-section-1 .u-icon-12 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -38px 11px 0 auto;
  padding: 3px;
}

.u-section-1 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -45px 130px 0 331px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 1209px;
  }

  .u-section-1 .u-shortcode-1 {
    margin-left: 878px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 12px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -132px;
    margin-right: 62px;
    margin-left: 333px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 1040px;
    margin-top: 49px;
    margin-bottom: 49px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-elements-2 {
    height: auto;
    margin-top: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -52px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -49px;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -52px;
  }

  .u-section-1 .u-group-elements-5 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -54px;
  }

  .u-section-1 .u-group-elements-7 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -55px;
  }

  .u-section-1 .u-group-elements-10 {
    margin-top: 48px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -57px;
  }

  .u-section-1 .u-group-elements-11 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -56px;
  }

  .u-section-1 .u-group-elements-15 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -54px;
  }

  .u-section-1 .u-group-elements-17 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -57px;
  }

  .u-section-1 .u-group-elements-19 {
    width: 289px;
    margin-top: 52px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 1px;
  }

  .u-section-1 .u-icon-11 {
    margin-right: 11px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -62px;
  }

  .u-section-1 .u-group-elements-20 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1778px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 222px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1207px;
    margin-right: 83px;
  }

  .u-section-1 .u-shortcode-1 {
    margin-right: 20px;
    margin-left: 657px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 545px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 1293px;
    margin-top: 37px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -58px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -60px;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: 58px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -66px;
  }

  .u-section-1 .u-group-elements-5 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -67px;
  }

  .u-section-1 .u-group-elements-7 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -66px;
  }

  .u-section-1 .u-group-elements-10 {
    margin-top: 58px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -67px;
  }

  .u-section-1 .u-group-elements-11 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -71px;
  }

  .u-section-1 .u-group-elements-15 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -63px;
  }

  .u-section-1 .u-group-elements-17 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -72px;
  }

  .u-section-1 .u-group-elements-19 {
    margin-top: 69px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -79px;
  }

  .u-section-1 .u-group-elements-20 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1504px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 167px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 65px;
  }

  .u-section-1 .u-shortcode-1 {
    margin-right: 0;
    margin-left: 497px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: -380px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 1595px;
    width: 1361px;
    margin: -430px auto 60px -936px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 450px;
    margin-left: 1070px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 845px;
    margin-left: 1402px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 845px;
    margin-left: 1402px;
  }

  .u-section-1 .u-group-elements-4 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 957px;
    margin-left: 1402px;
  }

  .u-section-1 .u-group-elements-5 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 940px;
    margin-left: 1402px;
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 864px;
    margin-left: 1402px;
  }

  .u-section-1 .u-group-elements-10 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 981px;
    margin-left: 1402px;
  }

  .u-section-1 .u-group-elements-11 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 961px;
    margin-left: 1401px;
  }

  .u-section-1 .u-group-elements-14 {
    margin-left: 1070px;
  }

  .u-section-1 .u-group-elements-15 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 940px;
    margin-left: 1401px;
  }

  .u-section-1 .u-group-elements-17 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 856px;
    margin-left: 1400px;
  }

  .u-section-1 .u-group-elements-19 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 1005px;
    margin-left: 1400px;
  }

  .u-section-1 .u-group-elements-20 {
    margin-left: 1070px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 975px;
    margin-left: 1401px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1459px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1204px;
  }

  .u-section-1 .u-shortcode-1 {
    margin-left: 297px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 1519px;
    width: 1356px;
    margin-top: -345px;
    margin-bottom: 50px;
    margin-left: -1036px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 399px;
    margin-left: 1065px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 3159px;
    margin-left: 1397px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 3159px;
    margin-left: 1397px;
  }

  .u-section-1 .u-group-elements-4 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 3271px;
    margin-left: 1397px;
  }

  .u-section-1 .u-group-elements-5 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 3254px;
    margin-left: 1397px;
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 3178px;
    margin-left: 1397px;
  }

  .u-section-1 .u-group-elements-10 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 3295px;
    margin-left: 1397px;
  }

  .u-section-1 .u-group-elements-11 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 3275px;
    margin-left: 1396px;
  }

  .u-section-1 .u-group-elements-14 {
    margin-left: 1065px;
  }

  .u-section-1 .u-group-elements-15 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 3254px;
    margin-left: 1396px;
  }

  .u-section-1 .u-group-elements-17 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 3170px;
    margin-left: 1395px;
  }

  .u-section-1 .u-group-elements-19 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 3319px;
    margin-left: 1395px;
  }

  .u-section-1 .u-group-elements-20 {
    margin-left: 1065px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 3289px;
    margin-left: 1396px;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}/* The switch - the box around the slider */
.switch {
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: 62px;
 height: 35px;
}
/* Hide default HTML checkbox */
.switch input {
 opacity: 1;
 width: 0;
 height: 0;
}
/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0px;
 background: #fff;
 transition: .4s;
 border-radius: 30px;
 border: 1px solid #ccc;
}
.slider:before {
 position: absolute;
 content: "";
 height: 1.9em;
 width: 1.9em;
 border-radius: 16px;
 left: 1.2px;
 top: 0;
 bottom: 0;
 background-color: white;
 box-shadow: 0 2px 5px #999999;
 transition: .4s;
}
input:checked + .slider {
 background-color: #85a9cdc4 !important;
 border: 1px solid transparent;
}
input:checked + .slider:before {
 transform: translateX(1.5em);
}