@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
@media (max-width: 575.98px) {
    .table-responsive-sm {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 767.98px) {
    .table-responsive-md {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 991.98px) {
    .table-responsive-lg {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 1199.98px) {
    .table-responsive-xl {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 1399.98px) {
    .table-responsive-xxl {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
progress {
    vertical-align: baseline;
}
@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position-x: 3px;
    }
}

@keyframes progress-bar-stripes {
    0% {
        background-position-x: 3px;
    }
}
.progress {
    --bs-progress-height: 3px;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: #e9ecef;
    --bs-progress-border-radius: 0.5rem;
    --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #cb0c9f;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-progress-bar-bg);
    transition: var(--bs-progress-bar-transition);
}
@media (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: var(--bs-progress-height) var(--bs-progress-height);
}

.progress-bar-animated {
    -webkit-animation: 1s linear infinite progress-bar-stripes;
    animation: 1s linear infinite progress-bar-stripes;
}
@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        -webkit-animation: none;
        animation: none;
    }
}.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #6c757d;
    text-align: left;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.table > tbody {
    vertical-align: inherit;
    color:#505057;
}
.table > thead {
    vertical-align: bottom;
}
table tbody tr:last-child td {
    border-width: 0;
}
.table {
    --bs-table-color: #67748e;
    --bs-table-bg: transparent;
    --bs-table-border-color: #e9ecef;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #67748e;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #67748e;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #67748e;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
    vertical-align: inherit;
}
.table > thead {
    vertical-align: bottom;
}
.rj-full-screen-display .container-fluid {
padding-left: 10px;
}
.rj-dark-mode .card {
    background: rgb(24, 27, 31);
}
.rj-dark-mode h6 {
    color: #fff;
}
.rj-dark-mode .text-sm, .rj-dark-mode .text-uppercase, .rj-dark-mode strong {
    color: #a6a6b0;
}
.rj-dark-mode h5, .rj-dark-mode button {
    color: #a7b8ff;
}
.py-4 {
    position: fixed;
    left: 0;
    width: 100%;
    padding-left: 260px;
    box-sizing: border-box;
    transition: .3s;
    overflow-x:auto;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 76px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
   /* margin-right: calc(-0.5 * var(--bs-gutter-x)); */
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-shrink: 1;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
h5 {
    font-size:1.5rem !important;
    color: #51638b;
}
.col-8 {
    flex: 0 0 auto;
    text-align:center;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-xl-3 {
    flex: 0 0 auto;
    width: 20%;
}
.col-lg-7 {
    flex: 0 0 auto;
}
.col-lg-8 {
    flex: 0 0 auto;
}
.mt-4 {
    /*margin-top: 1.5rem !important;*/
    margin-bottom: 1.5rem !important;
    width:50%;
}
.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.mb-xl-0 {
    margin-bottom: 0 !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.z-index-2 {
    z-index: 2 !important;
    width:100%;
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
    border-top: 0;
}
.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}
.card-header-tabs {
    margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
margin-bottom: calc(-1 * var(--bs-card-cap-padding-y));
    margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
border-bottom: 0;
}
.card-header-tabs .nav-link.active {
    background-color: var(--bs-card-bg);
    border-bottom-color: var(--bs-card-bg);
}

.card-header-pills {
    margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
}
  .card-group > .card:not(:last-child) .card-img-top,
.card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
}
.card-group > .card:not(:first-child) .card-img-top,
.card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
}
.card {
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    border: none;
}
.card .card-header {
    padding: 1.5rem;
}
.card .card-body {
    font-family: "Open Sans";
    padding: 1.5rem;
}
.card.card-plain {
    background-color: transparent;
    box-shadow: none;
}
.card .card-footer {
    padding: 1.5rem;
    background-color: transparent;
}
.align-items-center {
    align-items: center !important;
}
.align-middle {
    vertical-align: middle !important;
}
.justify-content-center {
    justify-content: center !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}

.text-xs {
    line-height: 1.25;
    font-size: 0.75rem !important;
}
.text-xxs {
    font-size: 0.8rem !important;
}
.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.me-2 {
    margin-right: 0.5rem !important;
}
.p-0 {
    padding: 0 !important;
}
.p-3 {
    padding: 1rem !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pt-2 {
    padding-top: 0.5rem !important;
}
.ps-2 {
    padding-left: 0.5rem !important;
}

.rounded-circle, .avatar.rounded-circle img {
    border-radius: 50% !important;
}
.text-sm {
    line-height: 1.5;
    font-size: 0.875rem !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
.text-center {
    text-align: center !important;
}
.font-weight-bold {
    font-weight: 600 !important;
    font-size:1rem !important;
}
.font-weight-bolder {
    font-weight: 700 !important;
}
.text-success {
    color: #82d616 !important;
}
svg.text-success .color-foreground {
    fill: #17ad37;
}
svg.text-success .color-background {
    fill: #98ec2d;
}
.text-gradient.text-success {
    background-image: linear-gradient(310deg, #17AD37, #C1E823);
}
.text-danger {
    color: #ea0606 !important;
}
svg.text-danger .color-foreground {
    fill: #ea0606;
}
svg.text-danger .color-background {
    fill: #ff667c;
}
.text-gradient.text-danger {
    background-image: linear-gradient(310deg, #D60808, #FF6690);
}
.col-4 {
    flex: 0 0 auto;
    text-align:center;
}
.text-sm {
    line-height: 1.5;
    font-size: 0.875rem !important;
}
.text-end {
    text-align: right !important;
}
.btn.bg-gradient-primary:hover {
    background-color: #cb0c9f;
    border-color: #cb0c9f;
}
.btn.bg-gradient-primary {
    border: 1px solid #cb0c9f;
}
.btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
.btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
.show > .btn.bg-gradient-primary.dropdown-toggle {
    color: color-yiq(#cb0c9f);
    background-color: #cb0c9f;
}
.btn.bg-gradient-primary.focus,
.btn.bg-gradient-primary:focus {
    color: #fff;
}
.btn.bg-gradient-primary {
    color: #fff;
}
.btn.bg-gradient-primary:hover {
    color: #fff;
}
.fixed-plugin .btn.bg-gradient-primary:not(:disabled):not(.disabled) {
    border: 1px solid transparent;
}
.fixed-plugin .btn.bg-gradient-primary:not(:disabled):not(.disabled):not(.active) {
    background-color: transparent;
    background-image: none;
    border: 1px solid #cb0c9f;
    color: #cb0c9f;
}
.bg-gradient-primary {
    /*background-image: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);*/
    background-image: linear-gradient(310deg, #aaaeb8db 0%, #5d6a87a3 100%);
}
.shadow {
    box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !important;
}
.text-center {
    text-align: center !important;
}
.border-radius-md {
    border-radius: 0.5rem;
}
.text-lg-start {
    text-align: left !important;
}
.text-lg-end {
    text-align: right !important;
}
.text-lg-center {
    text-align: center !important;
}
.text-lg {
    font-size: 1.125rem !important;
}
.opacity-7 {
    opacity: 0.7 !important;
}
.opacity-10 {
    opacity: 1 !important;
}
.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}
.d-flex {
    display: flex !important;
}
.progress {
    overflow: visible;
}
.progress.progress-sm {
    height: 4px;
}
.progress.progress-lg {
    height: 20px;
}
.progress-bar {
    height: 6px;
    border-radius: 0.375rem;
    margin-top: -0.095rem;
    margin-left: -1px;
}
.table {
    border-collapse: inherit;
}
.table thead th {
    padding: 0.75rem 1.5rem;
    text-transform: capitalize;
    letter-spacing: 0px;
    border-bottom: 1px solid #e9ecef;
}
.table th {
    font-weight: 600;
}
.table td .progress {
    height: 3px;
    width: 120px;
    margin: 0;
}
.table td,
.table th {
    white-space: nowrap;
}
.table.align-items-center td,
.table.align-items-center th {
    vertical-align: middle;
}
.table tbody tr:last-child td {
    border-width: 0;
}
.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #e9ecef;
}
.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    border-bottom-width: 1px;
    border-bottom-color: #dde0e3;
}
.font-weight-bolder {
    font-weight: 700 !important;
}

.btn-info:hover,
.btn.bg-gradient-info:hover {
    background-color: #17c1e8;
    border-color: #17c1e8;
}
.btn-info .btn.bg-outline-info,
.btn.bg-gradient-info .btn.bg-outline-info {
    border: 1px solid #17c1e8;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle,
.btn.bg-gradient-info:not(:disabled):not(.disabled).active,
.btn.bg-gradient-info:not(:disabled):not(.disabled):active,
.show > .btn.bg-gradient-info.dropdown-toggle {
    color: color-yiq(#17c1e8);
    background-color: #17c1e8;
}
.btn-info.focus, .btn-info:focus,
.btn.bg-gradient-info.focus,
.btn.bg-gradient-info:focus {
    color: #fff;
}
.btn-info,
.btn.bg-gradient-info {
    color: #fff;
}
.btn-info:hover,
.btn.bg-gradient-info:hover {
    color: #fff;
}
.bg-gradient-info {
    background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
}
.btn-success:hover,
.btn.bg-gradient-success:hover {
    background-color: #82d616;
    border-color: #82d616;
}
.btn-success .btn.bg-outline-success,
.btn.bg-gradient-success .btn.bg-outline-success {
    border: 1px solid #82d616;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle,
.btn.bg-gradient-success:not(:disabled):not(.disabled).active,
.btn.bg-gradient-success:not(:disabled):not(.disabled):active,
.show > .btn.bg-gradient-success.dropdown-toggle {
    color: color-yiq(#82d616);
    background-color: #82d616;
}
.btn-success.focus, .btn-success:focus,
.btn.bg-gradient-success.focus,
.btn.bg-gradient-success:focus {
    color: #fff;
}
.btn-success,
.btn.bg-gradient-success {
    color: #fff;
}
.btn-success:hover,
.btn.bg-gradient-success:hover {
    color: #fff;
}
.bg-gradient-success {
    background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}
.btn-danger:hover,
.btn.bg-gradient-danger:hover {
    background-color: #ea0606;
    border-color: #ea0606;
}
.btn-danger .btn.bg-outline-danger,
.btn.bg-gradient-danger .btn.bg-outline-danger {
    border: 1px solid #ea0606;
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle,
.btn.bg-gradient-danger:not(:disabled):not(.disabled).active,
.btn.bg-gradient-danger:not(:disabled):not(.disabled):active,
.show > .btn.bg-gradient-danger.dropdown-toggle {
    color: color-yiq(#ea0606);
    background-color: #ea0606;
}
.btn-danger.focus, .btn-danger:focus,
.btn.bg-gradient-danger.focus,
.btn.bg-gradient-danger:focus {
    color: #fff;
}
.btn-danger,
.btn.bg-gradient-danger {
    color: #fff;
}
.btn-danger:hover,
.btn.bg-gradient-danger:hover {
    color: #fff;
}
.bg-gradient-danger {
    background-image: linear-gradient(310deg, #ea0606 0%, #ff667c 100%);
}
h6, .h6 {
    font-size: 1.6rem;
    line-height: 1.625;
}
button {
    font-size:1.1rem;
    font-weight:bolder;
    color:#67748e;
    margin-left:5px;
    margin-right:5px;
}